<%= content_for :head do %>
    <style type="text/css">
        #clismon {left:3263px;top:880px;width:192px;height:48px;}
    </style>
<% end %>

<div id="player" style="display:none;">
  <a href="http://www.archive.org/download/LasBuenasNoches-2011-UnMalDia/Lbn-2011-unMalDiaLoTieneCualquiera.zip"
	onClick="recordOutboundLink(this, 'Descargas', 'UnMalDia');return false;">Descargar</a>
  <object data="http://bandcamp.com/EmbeddedPlayer/album=2826221063/size=tall2/bgcol=020B0A/linkcol=f6cb9f//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="150" height="550">
    <param name="movie" value="http://bandcamp.com/EmbeddedPlayer/album=2826221063/size=tall2/bgcol=020B0A/linkcol=f6cb9f//">
    <param name="quality" value="high">
    <param name="allowNetworking" value="always">
    <param name="wmode" value="transparent">
    <param name="bgcolor" value="#020B0A">
    <param name="allowScriptAccess" value="never">
    <object data="http://bandcamp.com/EmbeddedPlayer/album=2826221063/size=tall2/bgcol=020B0A/linkcol=f6cb9f//" type="text/html" width="150" height="550"></object>
  </object>
</div>
<%= title 'Las Dos Caras' %>


<div id="playground" unselectable="on" class="unselectable" style="background-color: #15100a;">
  <div id="draggable" style="width: 3744px; height:1836px; margin: 0 0px 0 150px; background-color: #15100a;" data-position="leftTop">
    <img id="img_canciones" src="/images/unmaldia/canciones-peq.jpg" alt="Portada" width="3638" height="1836"/>
    <%= link_to 'Clismón', 'http://clismon.net', :id => 'clismon', :class => 'enlace' %>

  </div>
</div>

<div class="image-cache" style="display:none">
  <img class="replacement" data-original="#img_canciones" src="/images/unmaldia/canciones.jpg"/>
  <!--img class="cache" src="/images/interior.jpg"/-->
</div>
