<%= title 'Se acerca' %>

<%= content_for :head do %>

<% end %>

<div id="playground" class="unselectable" style="display:none; " unselectable="on">
  <div id="draggable" style="width: 770px; height:770px;" >
    <img id="preload" src="/images/unmaldia/reloj-mediano.jpg" alt="Portada" width="770" height="770"/>
  </div>
</div>

