
<%= content_for :head do %>
    <style type="text/css">
        #unmaldia-canciones {
            left: 480px;
            width: 310px;
            top: 530px;
            height: 440px;
        }

        #periodico-diagonal {
            left: 2140px;
            width: 240px;
            top: 1010px;
            height: 140px;
        }
    </style>
<% end %>


<div id="playground" unselectable="on" class="unselectable" style="display:none;background-color: #15100a;">
  <div id="draggable" style="width: 2559px; height:1240px;" data-position="leftTop">
    <img id="preload" src="/images/interior.jpg" alt="Un Mal Día (Lo tiene cualquiera)" width="2559" height="1240"/>
    <%= link_to 'Canciones', canciones_path, :id => 'unmaldia-canciones', :class => 'enlace' %>
    <%= link_to 'Periódico diagonal', 'http://www.diagonalperiodico.net/', :id => 'periodico-diagonal', :class => 'enlace' %>
  </div>
</div>
