<%= content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .insider {
            padding: 50px 0 0 10px;
        }

        #videos {
            width: 100%;
            overflow: hidden;
        }

        .video {
            width: 400px;
            float: left;
            background-color: black; /*rgba(255, 255, 255, 0.01);*/
            border-radius: 5px;
            padding: 10px 10px 10px 10px;
            margin: 20px;
            box-shadow: 1px 1px 2px black;
            opacity: 1;
        }

        .video .view {height:300px; overflow:hidden;}

        div.video:hover {
            opacity: 1;
        }

        .video h3 a {
            font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
            color: transparent;
            font-size: 14px;
            text-shadow:1px 1px 1px #444;
            font-weight:normal;
            text-decoration:none;
        }

        #draggable {
            box-shadow: 1px 0 3px gray;
        }

    </style>
<% end %>
<%= title 'Videos' %>

<div id="playground" unselectable="on" class="unselectable" style="display:none;">
  <div id="draggable" style="width: 1420px; height:1300px; padding-bottom:50px; background-color: rgba(255,255,255,0.8);">
    <div class="insider">
      <div id="videos">
        <div class="video">
          <div class="view">
            <a href="#"><img src="/images/videos/elfindelmundo.jpg" width="400" height="297"/></a>
            <iframe src="http://player.vimeo.com/video/8818892" width="400" height="300" frameborder="0" style="display:none;"></iframe>
          </div>
          <h3><a href="#" class="preview">El Fin Del Mundo</a></h3>
        </div>
        <div class="video">
          <div class="view">
            <a href="#"><img src="/images/videos/laplaga.jpg" width="400" height="297"/></a>
            <iframe src="http://player.vimeo.com/video/8739036" width="400" height="300" frameborder="0" style="display:none;"></iframe>
          </div>
          <h3><a href="#" class="preview">La Plaga</a></h3>
        </div>
        <div class="video">
          <div class="view">
            <a href="#"><img src="/images/videos/lajungla.jpg" width="400" height="297"/></a>
            <iframe src="http://player.vimeo.com/video/8735710" width="400" height="300" frameborder="0" style="display:none;"></iframe>
          </div>
          <h3><a href="#" class="preview">La Jungla</a></h3>
        </div>
        <div class="video">
          <div class="view">
            <a href="#"><img src="/images/videos/tucuman.jpg" width="400" height="297"/></a>
            <iframe src="http://player.vimeo.com/video/8742708" width="400" height="300" frameborder="0" style="display:none;"></iframe>
          </div>
          <h3><a href="#" class="preview">Tucumán</a></h3>
        </div>
        <div class="video">
          <div class="view">
            <a href="#"><img src="/images/videos/tucumanexterior.jpg" width="400" height="297"/></a>
            <iframe src="http://player.vimeo.com/video/8816708" width="400" height="300" frameborder="0" style="display:none;"></iframe>
          </div>
          <h3><a href="#" class="preview">Tucumán</a></h3>
        </div>
        <div class="video">
          <div class="view">
            <a href="#"><img src="/images/videos/demuerte.jpg" width="400" height="297"/></a>
            <iframe src="http://player.vimeo.com/video/8820090" width="400" height="300" frameborder="0" style="display:none;"></iframe>
          </div>
          <h3><a href="#" class="preview">De Muerte</a></h3>
        </div>
        <div class="video">
          <div class="view">
            <a href="#"><img src="/images/videos/mediavida.jpg" width="400" height="297"/></a>
            <iframe src="http://player.vimeo.com/video/8738142" width="400" height="300" frameborder="0" style="display:none;"></iframe>
          </div>
          <h3><a href="#" class="preview">Media Vida</a></h3>
        </div>
        <div class="video">
          <div class="view">
            <a href="#"><img src="/images/videos/eldiadetuboda.jpg" width="400" height="297"/></a>
            <iframe src="http://player.vimeo.com/video/8736603" width="400" height="300" frameborder="0" style="display:none;"></iframe>
          </div>
          <h3><a href="#" class="preview">El Día de tu Boda</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
