<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <p>
      En la palma de tu mano yo<br/>
      cuento mi destino como una canción<br/>
      Y en la palma de tu mano yo<br/>
      guardo 3 deseos para el corazón<br/>
      En la palma de tu mano<br/>
      guardas los misterios para algo mejor<br/>
      Y en la palma de tu mano<br/>
      todos los caminos llevan a los dos<br/>
    </p>
    <p>
      Yo se que las historias vienen y van <br/>
      Será esta la noche en que todo cambiará <br/>
    </p>
  </div>
  <div class="span-8 last">
    <p>
      En la palma de tu mano<br/>
      líneas y señales hablan de los dos<br/>
      Y en la palma de tu mano yo<br/>
      escribo el destino como una canción<br/>
    </p>
    <p>
      Yo se que las historias vienen y van<br/>
      Será esta la noche en que todo encajará<br/>
    </p>
    <p>
      Palma de tu mano en mi palma<br/>
      de mi mano en tu palma de la<br/>
      Palma de tu mano en mi palma<br/>
      de mi mano en tu palma de la<br/>
    </p>
  </div>
</div>



