<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <p>
      El viejo dice la vio pasar<br/>
      Por la vereda del limonar<br/>
    </p>

    <p>
      Sus pasos guardan lo que vendrá<br/>
      Ella se marcha por no llegar<br/>
    </p>

    <p>
      Manuela<br/>
      donde irá<br/>
    </p>

    <p>
      Que lleva el agua Que llega al mar<br/>
      Donde el camino vuelve a empezar<br/>
      Hay algún sitio donde acabar<br/>
      Si su destino es caminar<br/>
    </p>
  </div>
  <div class="span-8 last">
    <p>
      Manuela<br/>
      donde irá<br/>
    </p>

    <p>

      Que lleva el agua que llega al mar<br/>
      Donde el camino vuelve a empezar<br/>
      Hay algún sitio donde acabar<br/>
      Si su destino es caminar<br/>
    </p>

    <p>
      Manuela<br/>
      donde irá<br/>
    </p>

    <p>
      El viejo dice la vio pasar<br/>
      Por la vereda del limonar<br/>
    </p>
  </div>
</div>
