<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" data-hint="Canciones" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <p>
      Todas las escopetas del pueblo<br/>
      culpan al hombre<br/>
      mientras disparan al viento<br/>
      tu dulce nombre<br/>
    </p>
    <p>
      Aquella noche estrellada<br/>
      mientras dormía<br/>
      iluminaba la luna nuestra huida<br/>
      En la vaguada del rio quien sabe donde<br/>
      besos y huellas rotas llevan al monte<br/>
    </p>
    <p>
      Dejaste caer la ropa<br/>
      en la orilla de la ribera<br/>
      El disparo sonó en la noche<br/>
      vi tu cuerpo entre las piedras<br/>
    </p>
  </div>

  <div class="span-8 last">
    <p>
      Entre la oscura maleza nos enterró<br/>
      todas las almas callaron, nadie lloró<br/>
      pasaron las estaciones sobre nosotros<br/>
      y en el filo de las piedras<br/>
      verde musgo floreció<br/>
    </p>
    <p>
      Nuestros huesos entrelazados<br/>
      y la luna sobre la sierra<br/>
      blanca nieve caerá en el suelo<br/>
      enterrados bajo tierra<br/>
      tú y yo<br/>
    </p>
    <p>
      Todas las escopetas del pueblo<br>
      culpan al hombre<br/>
      mientras disparan al viento
    </p>
  </div>
</div>
