<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" data-hint="Canciones" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <p>
      Te he visto en un hombre con sandalias <br/>
      Te he visto en un gajo de naranja <br/>
      Te vi otra vez, en Bucarest <br/>
      Con figura de viejo yo te vi otra vez <br/>
    </p>
    <p>
      Te vi volviendo la cabeza <br/>
      Te vi en la cima del mulhacen <br/>
      En la piscina municipal <br/>
      Empujando en la calle un palé <br/>
    </p>
    <p>
      Ubicus cubicus <br/>
      Cuando desaparecerás <br/>
      Ubicus cubicus <br/>
      A ver si va <br/>
      Digo hocus pocus <br/>
      Prométeme <br/>
      Que cuando diga ya <br/>
      No estarás más <br/>
    </p>
  </div>
  <div class="span-8">
    <p>
      Te vi en una tienda de Atenas <br/>
      A la luz de un verde neón <br/>
      Cruzando roma en moto apenas <br/>
      En el perfil de una moneda <br/>
    </p>
    <p>
      Te he visto en un falso documental <br/>
      Te he visto jugando a la petanca <br/>
      Te vi pegándole a un ingles <br/>
      En una ranchera familiar <br/>
    </p>
    <p>
      Ubicus cubicus <br/>
    </p>
    <p>
      En un arpista de la filarmónica <br/>
      Talando árboles en la gran vía <br/>
      Mi amiga Mónica te vio <br/>
      Pidiendo medidas para estanterías <br/>
    </p>
    <p>
      En una guía de corfú <br/>
      Hará dos o tres días <br/>
      Te he visto durmiendo en mi sofá <br/>
      Basta ya, no puedo más <br/>
    </p>
    <p>
    Ubicus cubicus <br/>
  </div>
</div>
