<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" data-hint="Canciones" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <p>
      Este es el fuego que todo quema<br/>
      Esta es la furia de la pasión<br/>
      Este es el ritmo<br/>
      Que arde en el fondo del corazón<br/>
    </p>
    <p>
      Este es el fuego que todo quema<br/>
      Arde la cima de la ciudad<br/>
      Y en el incendio<br/>
      Solo en el centro te salvarás<br/>
    </p>
    <p>
      Fuego<br/>
      Fuego<br/>
      Ardes como en el fuego<br/>
      Que ilumina el camino a la perdición<br/>
    </p>
  </div>
  <div class="span-8 last">
    <p>
      Esta es la noche de la tormenta<br/>
      Todas las hadas quieren bailar<br/>
      Mañana al alba<br/>
      nada de esto recordarás<br/>
    </p>
    <p>
      Aquí está el filo de tu deseo<br/>
      como la aguja del escorpión<br/>
      tu madre dice<br/>
      es el camino a la perdición<br/>
    </p>
    <p>
      Fuego<br/>
      Fuego<br/>
      Ardes como en el fuego<br/>
      Que ilumina el camino<br/>
    </p>
  </div>
</div>
