<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" class="cancion"><%= @title %></a>
  </div>
  <div class="span-10">
    <p>
      Llevo más de 12 horas mirando a las esquina<br/>
      allá arriba en lo alto de mi habitación<br/>
      Paredes vacías voy siguiendo hasta arriba<br/>
      su encuentro con el techo capta toda mi atención<br/>
    </p>
    <p>
      Es un punto impreciso<br/>
      que me calma y me intriga<br/>
      que me llena de gozo, que me da la impresión<br/>
      de que si fijo mi mente<br/>
      en su cruce de aristas<br/>
      traspasaré los umbrales de la percepción.<br/>
    </p>
    <p>
      Tumbado en la cama<br/>
      lo veo todo sin hacer nada.<br/>
    </p>
  </div>
  <div class="span-6">
    <p>
      Y a través del techo<br/>
      sin ningún temor<br/>
      ya nada me queda<br/>
      solo mi edredón<br/>
      Palmeras doradas<br/>
      y lirios en flor<br/>
      los astros se esconden<br/>
      tras mi resplandor<br/>
      Un mundo en mi cama<br/>
      escucho mi voz<br/>
      si es este mi reino<br/>
      aquí yo soy dios<br/>
    </p>
    <p>
      Tumbado en la cama<br/>
      lo veo todo sin hacer nada.<br/>
    </p>
    <p>
      Tumbado en la cama mi vida<br/>
      Tumbado en la cama<br/>
    </p>
  </div>
</div>
