<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" data-hint="Canciones" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <p>
      Largo es el lomo de la tierra <br/>
      profundo surco de tu amor <br/>
      largo es el riego de tu pena <br/>
      lloras semillas de dolor <br/>
    </p>

    <p>
      Pronto vendrá nuestra cosecha <br/>
      y nos tumbaremos juntos bajo el sol <br/>
    </p>

    <p>
      Lomo de la tierra <br/>
      surcos de mi amor <br/>
      pronto vendrá nuestra cosecha <br/>
      y nos tumbaremos juntos bajo el sol <br/>
    </p>
  </div>
</div>
