<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <br/>
    <p>
      No quiero rendir respeto <br/><br/>
      <br/><br/><br/><br/><br/><br/><br/>
      <br/><br/>
      Sólo quiero rendirme por amor
    </p>

  </div>
  <div class="span-8 last">
    <br/>
  </div>
</div>
