<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <p>
      La trágica historia termina en desastre <br/>
      quién sabe en el fondo lo que pasó <br/>
      Marina jugaba en el fondo del parque <br/>
      en la tenue sombra del sauce llorón <br/>
    </p>

    <p>
      Un sordo crujido las ruedas pararon <br/>
      y en el carruaje un ojo brilló <br/>
      Dos extraños brazos un dulce mostraros <br/>
      la amarga canela marina probó <br/>
    </p>

    <p>
      La tata fue hallada en unos rosales <br/>
      Los ojos perdidos con cara de horror <br/>
      “los oigo moverse encima del techo” <br/>
      - dijo sin sentido y apenas sin voz <br/>
    </p>

    <p>
      Las autoridades hicieron pesquisas <br/>
      la madre tomaba su té en el salón <br/>
      Oh que gran apuro para la familia <br/>
      perder una niña con su situación <br/>
    </p>

  </div>
  <div class="span-8 last">
    <p>
      Con la última luz del último día <br/>
      ciudades y aldeas el coche dejó <br/>
      y aquellos que entonces en calma dormían <br/>
      yacieron en vela con gran desazón <br/>
    </p>

    <p>
      Tras horas de viaje el coche paraba <br/>
      en un alto muro con un gran portón <br/>
      Un arco de piedra tallado de llaves <br/>
      guardaba la entrada de aquella mansión <br/>
    </p>

    <p>
      Cortinas roídas y espejos de cera <br/>
      Zumbidos y brincos vibraban a son <br/>
      Las velas oscuras casi iluminaban <br/>
      aquel inquietante y terrible salón <br/>
    </p>

    <p>
      Envuelta en un manto marina yacía <br/>
      los bichos callaron con gran atención <br/>
      Y así la pequeña fue sacrificada <br/>
    </p>
    <p>
      En medio del bosque al Insecto Dios<br/>
      En medio del bosque al Insecto Dios<br/>
    </p>
  </div>
  <div>

  </div>
</div>