<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <p>
      Tijeras sin afilar <br/>
      Costuras que abren el mar <br/>
      Agujas hechas de sal <br/>
      Y el traje sin terminar<br/>
    </p>
    <p>
      Lo que yo te di lo perdiste <br/>
      Hilo de mi amor no quisiste <br/>
      Y el vestido para ti,<br/>
      se descose <br/>
    </p>
    <p>
      <br/>
      <br/>
      No hay patrón que te dibuje <br/>
    </p>

  </div>
</div>