<div class="row">
  <div class="song-image">
    <a href="<%= canciones_aventuras_path %>" id="cancion-<%= @title %>" class="cancion"><%= @title %></a>
  </div>
  <div class="span-8">
    <p>
      En la vieja guardería<br/>
      hay un perro suelto<br/>
      Pero cuando alguien mira<br/>
      siempre se hace el muerto<br/>
    </p>

    <p>
      Ves la tapia, ves la silla<br/>
      dijo el niño tuerto<br/>
      Yo ahí veo maravillas<br/>
      cuando estoy despierto<br/>
    </p>

    <p>
      En la vieja guardería<br/>
      donde me recuerdo<br/>
      todo es un galimatías<br/>
    </p>

    <p>
      Por esa larga avenida<br/>
      que conduce al puerto<br/>
      caminé yo muchos días<br/>
      como en un desierto<br/>
    </p>

    <p>
      Miro el río en la crecida, <br/>
      agua turbia y cieno<br/>
      Te dije que eras mi vida<br/>
      debo de estar muerto<br/>
    </p>
  </div>
  <div class="span-8 last">
    <p>
      Nunca se cura una herida<br/>
      si va prendida a tu piel<br/>
      La lección tengo aprendida<br/>
      recuerdo<br/>
      que la olvidé.<br/>
    </p>

    <p>
      En mi pueblo,<br/>
      Don Benito sólo hay dos rotondas<br/>
      Una de ellas circular<br/>
      y la otra es redonda<br/>
    </p>

    <p>
      En la frontera del pueblo<br/>
      hay un bar de carretera<br/>
      Allí bebe una mujer<br/>
      que a la suerte espera<br/>
    </p>

    <p>
      Y en la vida todo gira<br/>
      para estarse quieto<br/>
      Hazte a un lado en una silla<br/>
      este es el secreto<br/>
    </p>
  </div>
</div>
