<%= content_for :head do %>
    <%= render :partial => 'song_styles' %>
<% end %>

<div id="player" style="display:none;">
  <object data="http://bandcamp.com/EmbeddedPlayer/album=1650859682/size=tall2/bgcol=020b0a/linkcol=f6cb9f//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="150" height="450">
    <param name="movie" value="http://bandcamp.com/EmbeddedPlayer/album=1650859682/size=tall2/bgcol=020b0a/linkcol=f6cb9f//">
    <param name="quality" value="high">
    <param name="allowNetworking" value="always">
    <param name="wmode" value="transparent">
    <param name="bgcolor" value="#020b0a">
    <param name="allowScriptAccess" value="never">
    <object data="http://bandcamp.com/EmbeddedPlayer/album=1650859682/size=tall2/bgcol=020b0a/linkcol=f6cb9f//" type="text/html" width="150" height="450"></object>
  </object>
</div>


<div id="container" style="display:none;">
  <div class="row">
    <a href="<%= canciones_aventuras_path %>" data-hint="Canciones"><img id="lbn" src="/images/aventuras/aventuras.png"/></a>
  </div>
  <div class="content">
    <%= render :partial => @title %>
  </div>

</div>

<img id="preload" src="/images/aventuras/canciones.png" style="display:none; "/>
<div id="loading" style="display:none;">
  <img src="/images/aventuras/galleta.png" alt="Aventuras Domésticas" width="465" height="465"
       style="margin: -232px 0 0 -224px;"/>
</div>
