<%= content_for :head do %>
    <style type="text/css">
        #container a {
            display: block;
            margin: 0 auto;
            overflow: hidden;
            background-image: url('/images/aventuras/canciones.png');
            text-indent: -10000px;
            opacity: 0.7;
        }
        #container a:hover {opacity:0.9;}

        #cancion-01-la-palma { background-position: 0 0; width: 264px; height: 284px; }
        #cancion-02-manuela{ background-position: 0 -334px; width: 259px; height: 270px; }
        #cancion-03-bingo{ background-position: 0 -654px; width: 272px; height: 296px; }
        #cancion-04-todas-las-escopetas{ background-position: 0 -1000px; width: 242px; height: 295px; }
        #cancion-05-cancion-truco{ background-position: 0 -1345px; width: 264px; height: 281px; }
        #cancion-06-el-mal-camino{ background-position: 0 -1676px; width: 250px; height: 303px; }
        #cancion-07-aventuras-domesticas{ background-position: -322px 0; width: 249px; height: 279px; }
        #cancion-08-lomo{ background-position: -322px -329px; width: 275px; height: 265px; }
        #cancion-09-rendicion{ background-position: -322px -644px; width: 264px; height: 296px; }
        #cancion-10-el-dios-insecto { background-position: -283px -1668px; width: 264px; height: 296px; }
        #cancion-11-el-sastre { background-position: -319px -1007px; width: 264px; height: 296px; }
        #cancion-12-la-vieja-guarderia { background-position: -296px -1344px; width: 272px; height: 299px; }

        #container {width: 960px; margin: 0 auto; }
        .row {width: 100%; overflow: hidden; margin: 20px 0;}
        .song {width: 320px; float: left;}


            #lbn {display: block; margin: 20px auto;}
    </style>
<% end %>

<div id="player" style="display:none;">
  <object data="http://bandcamp.com/EmbeddedPlayer/album=1650859682/size=tall2/bgcol=020b0a/linkcol=f6cb9f//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="150" height="450">
    <param name="movie" value="http://bandcamp.com/EmbeddedPlayer/album=1650859682/size=tall2/bgcol=020b0a/linkcol=f6cb9f//">
    <param name="quality" value="high">
    <param name="allowNetworking" value="always">
    <param name="wmode" value="transparent">
    <param name="bgcolor" value="#020b0a">
    <param name="allowScriptAccess" value="never">
    <object data="http://bandcamp.com/EmbeddedPlayer/album=1650859682/size=tall2/bgcol=020b0a/linkcol=f6cb9f//" type="text/html" width="150" height="450"></object>
  </object>
</div>


<div id="container">
  <div class="row">
    <img id="lbn" src="/images/aventuras/lasbuenasnoches.png"/>
  </div>

</div>

<img id="preload" src="/images/aventuras/canciones.png" style="display:none; "/>
