body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

fieldset, img {
    border: 0;
}

html {
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: 12px;
}

body#disco-unmaldia {
    color: #f6cb9f;
    background-color: #020b0a;
}

body#disco-aventuras {
    background-image: url(/images/aventuras/fondo-oscuro.jpg);
    background-repeat: repeat;
    background-color: #151618;
    color: gray;
    overflow: visible;
}

#playground {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#draggable {
    position: relative;
    z-index: 500;
}

#playground a.enlace {
    position: absolute;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
    z-index: 1000;
}

#playground a.enlace:hover {
    border: 0px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.15);
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
}

/*** CONTROLS ***/
#controls {
    position: fixed;
    left: 10px;
    top: 0px;
    background-color: #020b0a;
    padding: 0.5em 1em;
    z-index: 50000;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px black;
}

#controls ul {
    width: 100%;
    overflow: hidden;
}

#controls li {
    float: left;
    margin: 0 0.5em;
}

#controls a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 0;
}

#controls li a:hover span {
    display: inherit;
}

/*** COMMENTS ***/
#comments {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: #dfdfdf;
    box-shadow: -2px -2px 5px #dfdfdf;
    -webkit-box-shadow: -2px -2px 5px #dfdfdf;
    -moz-box-shadow: -2px -2px 5px #dfdfdf;
    z-index: 3000;
    font-family: 'Goudy Bookletter 1911', arial, serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #222;
    font-weight: 500;
}
#comments a {text-decoration:none;color: #222;}
#comments .list {width:100%; overflow: hidden; }
#comments .list p {display: block;  margin: 5px;  padding: 0.5em; width: 180px;}
#comments p .time {font-weight:800;}
#comments .close {float: right;font-family:arial; font-size:10px;}
#comments form {padding: 1em; width: 100%;}

#disco-aventuras #controls {
    box-shadow: 2px 2px 5px #222;
    background-color: rgba(0, 0, 0, 0.8);
}

#player {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #020b0a;
    width: 150px;
    height: 450px;
    padding: 10px;
    z-index: 51000;
    border-radius: 0 0 10px 0;
    -moz-border-radius: 10px 0 0 10px;
    box-shadow: 0 2px 5px black;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

form textarea {margin: 10px 0; border: 1px solid gray; padding:2px;background-color:#eaeaea;}
form a {  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
}
.button-clean-gray, form input[type=submit] {
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 1em;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  margin-right: 0.5em;
}