
html {
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: 12px;
}

body#disco-unmaldia {
    color: #f6cb9f;
    background-color: #020b0a;
}

body#disco-aventuras {
    background-image: url(/images/aventuras/fondo-oscuro.jpg);
    background-repeat: repeat;
    background-color: #151618;
    color: gray;
}


#playground {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#draggable {
    position:relative;
    z-index: 500;
}

#playground a.enlace {
    position:absolute;
    border-radius: 10px;
    display: block;
    overflow: hidden; text-indent:-1000px;
    z-index:1000;
}

#playground a.enlace:hover {
    border: 0px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.15);
}


#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
}


#controls {
    position: fixed;
    left: 0;
    top: 10px;
    background-color: #020b0a;
    padding: 1em;
    z-index: 50000;
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    box-shadow: 0 2px 5px black;
}

#disco-aventuras #controls {
    box-shadow: 0 2px 5px #444;
    background-color: rgba(0,0,0,0.7);
}

#player {
    position:fixed;right:0;bottom: 10px;
    background-color: #020b0a;
    width:150px;height:450px;
    padding: 10px;
    z-index:51000;
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    box-shadow: 0 2px 5px black;
}

#controls a {display:block; text-decoration:none; color: white; padding: 5px 0;}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}