<%= render :partial => 'controls' %>




<div id="playground" unselectable="on" class="unselectable" style="display:none;background-color: #15100a;">
  <div id="draggable" style="width: 2067px; height:966px;" data-position="leftTop">
    <img src="/images/cortinas.jpg" alt="Un Mal Día (Lo tiene cualquiera)" width="2067" height="966"/>
    <%= link_to 'Canciones', canciones_path, :id => 'unmaldia-canciones', :class => 'enlace' %>
  </div>
</div>
