<%= render :partial => 'controls' %>


<div id="playground" unselectable="on" class="unselectable" style="display:none;background-color: #15100a;">
  <div id="draggable" style="width: 2559px; height:1240px;" data-position="leftTop">
    <img src="/images/interior.jpg" alt="Un Mal Día (Lo tiene cualquiera)" width="2559" height="1240"/>
  </div>
</div>
