<%= render :partial => 'controls' %>



<div id="playground" unselectable="on" class="unselectable" style="display:none;background-color: #15100a;">
  <div id="draggable" style="width: 2564px; height:1764px;" data-position="leftTop">
    <img src="/images/videos.jpg" alt="Portada" width="2564" height="1764"/>
  </div>
</div>
