<% title 'El nuevo disco de Las Buenas Noches' %>

<%= content_for :head do %>
<link rel="icon" href="/images/descargas/favicon.ico" type="image/x-icon">

    <style type="text/css">
	html {background-color: #1b1105;}
	#page {width: 620px; margin: 50px auto; text-align:center;}
	h1, p  {display:none;}
	</style>
<% end %>

<div id="page">
		<h1>Presentación del disco Un Mal Día Lo Tiene Cualquiera</h1>
		<p>El nuevo disco de Las Buenas Noches ya está disponible para que puedas
			escucharlo y descargarlo en nuestra web http://lasbuenasnoches.com</p>
			<p>Próximamente concierto de presentación 8 de Abril en el festival Zemos98</p>
		<a href="/">
		<img src="/images/noticias/nuevo-disco.jpg" width="620" height="1489" />
		</a>
</div>