<% title 'Descargas' %>

<%= content_for :head do %>
<link rel="icon" href="/images/descargas/favicon.ico" type="image/x-icon">

    <style type="text/css">
	html {background-color: black;}
	#page {width: 975px; margin: 50px auto; text-align:center;}
	#page a {padding: 20px;}
	h1 {display:none;}
	</style>
<% end %>

<div id="page">
	<a href="http://www.archive.org/download/LasBuenasNoches-2008-AventurasDomesticas/LBN-2008-Aventuras.zip"
		class="download" id="descargas-aventuras"
		onClick="recordOutboundLink(this, 'Descargas', 'Aventuras');return false;">
		<h1>Aventuras Domésticas - 2008</h1>
		<img src="/images/descargas/aventuras_cover.jpg" width="350" height="350" />
		</a>
	<a href="http://www.archive.org/download/LasBuenasNoches-2011-UnMalDia/LBN-2011-UnMalDia.zip"
		class="download" id="descargas-unmaldia"
		onClick="recordOutboundLink(this, 'Descargas', 'UnMalDia');return false;">
	
		<h1>Un Mal Día (lo tiene cualquiera) - 2011</h1>
		<img src="/images/descargas/unmaldia_cover.jpg" width="350" height="350" />
		</a>
</div>