<h1>Enviar email de nuevo disco</h1>

<%= form_tag admin_emails_path do %>
<p>
<label>Destinatarios:</label>
	<%= text_area_tag :recipients, '', :cols => 80 %>
</p>
<p>
	<label>Contenido</label>
	<%= text_area_tag :body, '', :rows => 40, :cols => 80 %>
</p>
	
<%= submit_tag 'Enviar' %>
<% end %>