<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Hola compis, tenemos otro nuevo comentario:</h1>

<p>
  Email: <%= @comment.author %>
</p>

<p>
  <%= @comment.content %>
</p>
<a href="http://lasbuenasnoches.com/admin">Ver todos los comentarios (usuario: lbn, password: lbn)</a>
</body>
</html>