<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <style type="text/css">
	html {background-color: #1b1105; text-align:center;color:#f6d4a6;}
	a, img, a img {border: 0;}
	a {text-decoration: none; color: white;}
  </style>
</head>
<body>
	<p>Si no puedes ver este correo, pulsa <a href="http://lasbuenasnoches.com/nuevo-disco">aquí</a></p>
	<a href="http://lasbuenasnoches.com">
 		<img src="http://lasbuenasnoches.com/images/noticias/nuevo-disco.jpg" width="620" height="1489" />
	</a>
	<p>Nuevo disco de Las Buenas Noches - Descarga gratuita <a href="http://lasbuenasnoches.com/nuevo-disco">aquí</a></p>
</body>
</html>