<body style="background-color: #1b1105; text-align:center;color:#f6d4a6;">
	<p>Si no puedes ver este correo, pulsa <a style="text-decoration: none; color: white;"
		href="http://lasbuenasnoches.com/nuevo-disco">aquí</a></p>
	<a href="http://lasbuenasnoches.com">
 		<img src="http://lasbuenasnoches.com/images/noticias/nuevo-disco.jpg" width="620" height="1489" />
	</a>
	<p>Nuevo disco de Las Buenas Noches - Descarga gratuita <a style="text-decoration: none; color: white;" href="http://lasbuenasnoches.com/nuevo-disco">aquí</a></p>
</body>
