<div id="controls" style="display:none;">
  <ul>
    <li><a href="<%= root_path %>"><span>Las&nbsp;Buenas&nbsp;Noches</span></a></li>
    <li><a href="<%= unmaldia_path %>"><span>Un&nbsp;Mal&nbsp;Día</span></a></li>
    <li><a href="<%= aventuras_path %>"><span>Aventuras&nbsp;Domésticas</span></a></li>
    <li><a href="<%= videos_path %>"><span>Vídeos</span></a></li>
    <li><a href="#" class="toggleComment"><span>Comentar</span></a></li>
    <li><a href="#"><span>Comprar discos</span></a></li>
    <li><a href="http://www.facebook.com/LasBuenasNoches"><span>f</span></a></li>
  </ul>
</div>

<div id="comments" style="display:none;">

</div>

<div id="working">
  <img src="/images/ajax-loader.gif" width="16" height="16"><span>Descargando imágen...</span></div>