<div id="controls" style="display:none;">
  <ul>
    <li><a href="<%= root_path %>"><span>Las&nbsp;Buenas&nbsp;Noches</span></a></li>
    <li><a href="<%= unmaldia_path %>"><span>Un&nbsp;Mal&nbsp;Día</span></a></li>
    <li><a href="<%= aventuras_path %>"><span>Aventuras&nbsp;Domésticas</span></a></li>
    <li><a href="<%= videos_path %>"><span>Vídeos</span></a></li>
    <li><a href="#" class="toggleComment"><span>Comentar</span></a></li>
  </ul>
</div>

<div id="comments" style="display:none;">

</div>


<div id="info" style="">
  <span id="message">Puedes moverte por aquí pulsando con el ratón y arrastrando</span>
  <span id="ie6" style="display:none;">
    Esta página NO FUNCIONA con <a href="http://ie6funeral.com/">Internet Explorer 6</a>. ¡¡Por favor, cambia de navegador!!
  </span>
    <span id="browser" style="display:none;">
      Esta página se ve mejor con un navegador moderno como <a href="http://www.mozilla.com/es-ES/firefox/">Firefox</a> o <a href="http://www.google.com/chrome?hl=es">Chrome</a>
    </span>
  <span id="working">
    <img src="/images/ajax-loader.gif" width="16" height="16"><span>Descargando im&aacute;gen...</span>
  </span>
</div>

