<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <link rel="icon" href="/images/icon-cara.ico" type="image/x-icon" >
  <%= csrf_meta_tag %>
  <link href="/stylesheets/unmaldia.css" rel="stylesheet" type="text/css" media="screen" />
  <%= yield :head %>
</head>
<body>

<%= yield %>
<div id="loading" style="display:none;">
  <img src="/images/reloj.jpg" alt="Un Mal Día (Lo tiene cualquiera)" width="423" height="386"
       style="margin: -212px 0 0 -193px;" />
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/unmaldia.js"></script>
</body>
</html>
